*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Turret Road', cursive;
}

.body-dark {
    background-color: black;
}

.btn-drk {
    padding: 10px 15px 10px 15px;
    border-radius: 30%;
    background-color: pink;
    border: 1px solid black;
}

.btn-drk:hover {
    border: 2px solid black;
    font-weight: bold;
}

.btn-drk:active {
    color: white;
    background-color: black;
    border: 2px solid white;
}

.target {
    padding: 10px;
    border: 1px solid red;
}

.contenitore{
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter {
    background-color: #95979c;
    width: 85%;
    justify-content: center;
    align-items: center;
    height: 70%;
    border-radius: 35%;
    border: 1px solid black;
}

.total {
    margin-top: 50px;
    background-color: white;
    font-size: 2em;
    border-radius: 20%;
    text-align: center;
    border: 1px solid black;
    width: 200px;
}


.container-btn {
    margin-top: 100px;
}

.btn-reset{
    padding: 20% 30% 20% 30%;
    border-radius: 50%;   
    background-color: #e1e364;
    text-align: center;
    
 
}

.btn-reset:hover {
    border: 2px solid black;
    font-weight: bold;
}

.btn-reset:active {
    background-color: #ab2424;
}

.display-value {
    background-color: white;
    border-radius: 20%;
    border: 1px solid black;
    font-size: 24px;
    width: 15%;
}



.plus {
    display: flex;
    justify-content: center;
}

.minus {
    display: flex;
    justify-content: center;
}

.btn-change{
    padding: 10% 15% 10% 15%;
    background-color: aqua;
    border-radius: 20%;
    border: 1px solid black;
    font-size: 3em;
}

.btn-change:hover {
    border: 2px solid black;
}

.btn-change:active {
    border: 3px solid black;
    font-weight: bolder;
}



/* -----MEDIA QUERIES-----*/


@media screen and (max-width:600px) {
    
    
    .btn-reset {
        padding: 15% 25% 15% 25%;
    }
    .display-value {
        width: 20%;
    }
}

@media screen and (max-width:400px) {
   
    
    .total {
        width: 100px;
    }

    

    .btn-reset{
        padding: 10% 15% 10% 15%;
    
    }

    
    
}

@media screen and (max-width:300px){
    
    .counter {
        height: 50%;
    }

    .btn-reset {
        padding: 5% 5% 5% 5%;
    }

    .display-value{
        width: 25%;
        font-size: 10px;
    }
}

